{{- define "vbox/prepare-bootimage" }}
  {{- $lab := . -}}
TOOL_DEPENDENCIES+=" fuseiso rsync fusermount mkisofs"

prepare_bootimage() {
    local iso=$1
    if [[ ! -f "${iso}" ]]; then
        echo "ERROR: missing iso ${iso}" >&2
        exit 1
    fi
    TMP_ORIG_ISO_DIR=$(mktemp -d)
    TMP_PATCH_ISO_DIR=$(mktemp -d)
    fuseiso -p "${iso}" ${TMP_ORIG_ISO_DIR}
    rsync -ra ${TMP_ORIG_ISO_DIR}/ ${TMP_PATCH_ISO_DIR}
    fusermount -u ${TMP_ORIG_ISO_DIR}
    OUT_ISO_PATH=$(realpath ./bootimage-auto.iso)
    rmdir ${TMP_ORIG_ISO_DIR}
    chmod -R +w ${TMP_PATCH_ISO_DIR}
    pushd ${TMP_PATCH_ISO_DIR}
    isolinux_boot_override || die
    for ks in ks.cfg controller_ks.cfg smallsystem_ks.cfg; do
        setup_oam_interface ${ks} || die
        prepare_ansible ${ks} || die
        fix_ldap_dev_random_wait ${ks} || die
        speedup_drbd_sync ${ks} || die
    done
    for ks in net_controller_ks.cfg net_smallsystem_ks.cfg; do
        speedup_drbd_sync ${ks} || die
    done
    for ks in ks.cfg controller_ks.cfg smallsystem_ks.cfg \
              net_controller_ks.cfg net_smallsystem_ks.cfg net_storage_ks.cfg net_worker_ks.cfg; do
        setup_custom_environment ${ks} || die
        setup_user_access ${ks} || die
        setup_known_hosts ${ks} || die
    done
    mkisofs -R -D -A 'oe_iso_boot' -V 'oe_iso_boot' \
            -quiet \
            -b isolinux.bin \
            -c boot.cat \
            -no-emul-boot \
            -boot-load-size 4 \
            -boot-info-table \
            -eltorito-alt-boot \
            -e images/efiboot.img \
            -no-emul-boot \
            -o ${OUT_ISO_PATH} \
             ${TMP_PATCH_ISO_DIR}
    popd
    rm -rf ${TMP_PATCH_ISO_DIR}
}

isolinux_boot_override() {
{{- if eq $lab.SystemMode "simplex" }}
    sed -i 's#ui vesamenu.c32#default 2#' isolinux.cfg
{{- else if eq $lab.SystemMode "duplex" }}
    sed -i 's#ui vesamenu.c32#default 2#' isolinux.cfg
{{- else }}
    sed -i 's#ui vesamenu.c32#default 0#' isolinux.cfg
{{- end }}
}

setup_user_access() {
    local ks_file=$1
    sed -i 's#chage -d 0 sysadmin#echo "Li69nux*" | passwd --stdin sysadmin#' \
        ${ks_file}
    sed -i 's#passwd -l root#echo "Li69nux*" | passwd --stdin root#' \
        ${ks_file}
    cat <<OUTER_EOF >>${ks_file}
%post --erroronfail
cat <<EOF >>/etc/sudoers
sysadmin ALL=(ALL) NOPASSWD: ALL
EOF
cat <<EOF >>/etc/ssh/sshd_config
PermitRootLogin yes
AllowAgentForwarding yes
AllowTcpForwarding yes
TCPKeepAlive yes
PermitTunnel yes
EOF
%end
OUTER_EOF
}

setup_custom_environment() {
    local ks_file=$1
    cat <<'OUTER_EOF' >>${ks_file}
%post --erroronfail
# side effect:  remove TMOUT
cat <<'EOF' >/etc/profile.d/custom.sh
resize() {
    old=$(stty -g)
    stty raw -echo min 0 time 5
    printf '\033[18t' > /dev/tty
    IFS=';t' read -r _ rows cols _ < /dev/tty
    stty "$old"
    stty cols "$cols" rows "$rows"
}
EOF
%end
OUTER_EOF
}

setup_oam_interface() {
    local ks_file=$1
    cat <<OUTER_EOF >>${ks_file}
%post --erroronfail
cat <<EOF >/etc/sysconfig/network-scripts/ifcfg-enp0s3
DEVICE=enp0s3
IPADDR={{ default $lab.Oam.FloatAddr $lab.Oam.Controller0 }}
NETMASK={{ $lab.Oam.Network | NetCidrMask }}
GATEWAY={{ $lab.Oam.Gateway }}
ONBOOT=yes
EOF
%end
OUTER_EOF
}

fix_ldap_dev_random_wait() {
    local ks_file=$1
    cat <<OUTER_EOF >>${ks_file}
%post --erroronfail
sed -i 's#/dev/random#/dev/urandom#g' /usr/local/lib/ldapscripts/runtime
%end
OUTER_EOF
}

setup_known_hosts() {
    local ks_file=$1
    [[ -f ~/.ssh/id_rsa.pub ]] || die
    cat <<OUTER_EOF >>${ks_file}
%post --erroronfail
mkdir -p /root/.ssh
cat <<EOF >/root/.ssh/authorized_keys
$(cat ~/.ssh/id_rsa.pub)
EOF
chmod -R u=rwX /home/sysadmin/.ssh
cp -rfp /root/.ssh /home/sysadmin/
chown -R sysadmin:users /home/sysadmin/.ssh
%end
OUTER_EOF
}

prepare_ansible() {
    local ks_file=$1
    cat <<OUTER_EOF >>${ks_file}
%post --erroronfail
cat <<EOF >/home/sysadmin/localhost.yml
# Mandatory
system_mode: {{ eq $lab.SystemMode "simplex" | ternary "simplex" "duplex" }}

# Optional
external_oam_subnet: {{ $lab.Oam.Network }}
external_oam_gateway_address: {{ $lab.Oam.Gateway }}
external_oam_floating_address: {{ $lab.Oam.FloatAddr }}
{{- if $lab.Oam.Controller0 }}
external_oam_node_0_address: {{ $lab.Oam.Controller0 }}
{{- end }}
{{- if $lab.Oam.Controller1 }}
external_oam_node_1_address: {{ $lab.Oam.Controller1 }}
{{- end }}
management_subnet: 192.168.204.0/24
dns_servers:
  - 8.8.4.4
admin_password: Li69nux*
ansible_become_pass: Li69nux*
EOF
%end
OUTER_EOF
}

speedup_drbd_sync() {
    local ks_file=$1
    cat <<'EOF' >>${ks_file}
%post --erroronfail
sed -i '/cram-hmac-alg sha1;/a    csums-alg crc32c;' /usr/share/puppet/modules/drbd/templates/header.res.erb
%end
EOF
}

{{- end }}