{{- define "vbox/setup" -}}
  {{- $lab := . -}}
#!/usr/bin/env bash
ISO_PATH=

source ./prepare-bootimage.sh

cleanup() {
    # networks
    {{- range $lab.Vms }}
      {{- $vm := . }}
      {{- $vmName := printf "%s-%s" $lab.Name $vm.Name }}
    vboxmanage unregistervm "{{ $vmName }}" --delete >/dev/null 2>&1
      {{- range $i, $disk := $vm.Disks }}
    vboxmanage closemedium "{{ $disk.Medium }}" --delete >/dev/null 2>&1
      {{- end }}
    {{- end }}
    {{- range $i, $net := $lab.Networks }}
      {{- if eq $net.Mode "hostonly" }}
    vboxmanage hostonlyif remove "{{ $net.Name }}" >/dev/null 2>&1
      {{- end }}
      {{- if eq $net.Mode "natnetwork" }}
    vboxmanage natnetwork remove --netname "{{ $net.Name }}" >/dev/null 2>&1
      {{- end }}
    {{- end }}
    # rm -rf "{{ $lab.BasePath }}"
    vboxmanage closemedium ${ISO_PATH} >/dev/null 2>&1
}

run() {
    "$@"
    if [[ $? -ne 0 ]]; then
        echo "ERR: '$@' failed. Return code: $?"
        cleanup
        exit 1
    fi
}

setup_vbox() {
    # remove older configs
    rm -rf ~/.config/VirtualBox/{{ $lab.Name }}

    # setup networks
    #
    {{- range $i, $net := $lab.Networks }}
      {{- if eq $net.Mode "hostonly" }}
    vboxmanage hostonlyif remove "{{ $net.Name }}" >/dev/null 2>&1
    run vboxmanage hostonlyif create "{{ $net.Name }}"
      {{- end }}
      {{- if eq $net.Mode "natnetwork" }}
    for i in $(seq 3); do
        vboxmanage natnetwork list "{{ $net.Name }}" \
                   | grep '0 networks found' && break
        vboxmanage natnetwork remove --netname "{{ $net.Name }}"
        sleep 2
    done
    run vboxmanage natnetwork add \
               --netname "{{ $net.Name }}" \
               --network "{{ $net.Address }}" \
        {{- range $_, $map := $net.LoopbackMap }}
               --loopback-4 "{{ $map }}" \
        {{- end }}
        {{- range $i, $rule := $net.PortForward }}
               --port-forward-4 "{{ printf "pf-%d:%s" $i $rule }}" \
        {{- end }}
               --enable \
               --dhcp off \
               --ipv6 off
      {{- end }}
    {{- end }}
    {{- range .Vms }}
      {{- $vm := . }}
      {{- $vmName := printf "%s-%s" $lab.Name $vm.Name }}
    # setup {{ $vm.Name }}
    #
    vboxmanage unregistervm "{{ $vmName }}" --delete >/dev/null 2>&1
      {{- range $i, $disk := .Disks }}
    if [[ -f "{{ $disk.Medium }}" ]]; then
        vboxmanage closemedium "{{ $disk.Medium }}" --delete
        rm -f "{{ $disk.Medium }}" || true
    fi
    run vboxmanage createmedium disk \
              --filename "{{ $disk.Medium }}" \
              --size "{{ mul $disk.Size 1024 }}" \
              --format vdi
      {{- end }}
    run vboxmanage createvm \
              --register \
              --name "{{ $vmName }}" \
              --ostype Other_64 \
              --basefolder $(readlink -f "{{ $lab.BasePath }}") \
              --groups "/{{ $.Name }}"
    run vboxmanage modifyvm "{{ $vmName }}" \
              --cpus "{{ $vm.Cpus }}" \
              --memory "{{ mul $vm.Memory 1024 }}" \
              --vram 12 \
      {{- if $vm.BootOrder }}
        {{- range $i, $source := $vm.BootOrder }}
              --boot{{ add1 $i }} {{ $source }} \
        {{- end }}
      {{- end }}
              --uart1 0x3F8 4 \
              --uartmode1 server $(readlink -f "{{ $lab.BasePath }}/{{ $vmName }}-serial") \
              --acpi on \
              --ioapic on
      {{- range $i, $ctrl := $vm.StorageControllers }}
    run vboxmanage storagectl "{{ $vmName }}" \
              --name "{{ $ctrl.Name }}" \
              --add "{{ $ctrl.Type }}" \
              --controller "{{ $ctrl.Chipset }}" \
        {{- if ne $ctrl.Type "ide" }}
              --portcount "{{ $ctrl.PortCount }}" \
        {{- end }}
              --hostiocache {{ $ctrl.HostIOCache | ternary "on" "off" }} \
              --bootable {{ $ctrl.Bootable | ternary "on" "off" }}
      {{- end }}
      {{- range $i, $attach := $vm.StorageAttachments }}
    run vboxmanage storageattach "{{ $vmName }}" \
              --storagectl "{{ $attach.Controller}}" \
              --port "{{ $attach.Port }}" \
              --device "{{ $attach.Device }}" \
              --type "{{ $attach.Type }}" \
        {{- if $attach.NonRotational }}
              --nonrotational on \
        {{- end }}
        {{- if $attach.Discard }}
              --discard on \
        {{- end }}
              --medium "{{ $attach.Medium }}"
      {{- end }}
      {{- range $i, $nic := $vm.Nics }}
        {{- $n := add1 $i }}
        {{- $adapterMap := dict "bridged" "--bridgeadapter" "hostonly" "--hostonlyadapter" "intnet" "--intnet" "natnetwork" "--nat-network" }}
    run vboxmanage modifyvm "{{ $vmName }}" \
               --nic{{ $n }} "{{ $nic.Mode }}" \
               {{ index $adapterMap $nic.Mode }}{{ $n }} "{{ $nic.Network }}" \
         {{- if $nic.BootPrio }}
               --nicbootprio{{ $n }} "{{ $nic.BootPrio }}" \
         {{- end }}
         {{- if $nic.Promisc }}
               --nicpromisc{{ $n }} "{{ $nic.Promisc }}" \
         {{- end }}
               --nictype{{ $n }} "{{ $nic.Type }}"
      {{- end }}
    {{- end }}
}

check_dependencies() {
    for tool in ${TOOL_DEPENDENCIES}; do
        if [[ -z "$(which ${tool})" ]]; then
            cat >&2 <<EOF
ERROR! Setup requires '${tool}'. Use your package manager
ERROR! to install it then restart setup script.
EOF
            exit 1
        fi
    done
}

setup_environment() {
    cat >env.sh <<EOF
{{- range $_, $vm := .Vms }}
  {{- $vmName := printf "%s-%s" $lab.Name $vm.Name }}
alias {{ $vmName }}-serial="socat stdio,raw,echo=0,icanon=0,escape=0x11 $(readlink -f '{{ $lab.BasePath }}/{{ $vmName }}-serial')"
{{- end }}
EOF
}

main() {
    set -x
    if ! id -nG "$USER" | grep -qw "vboxusers"; then
        cat >&2 <<EOF
ERROR! Setup requires user '${USER}' to be in 'vboxusers' group.
ERROR! Add it to that group and restart setup script. Example:
ERROR!   sudo usermod -a -G vboxusers $USER
EOF
    fi
    check_dependencies
    if [[ -n "${ISO_PATH}" ]]; then
        prepare_bootimage ${ISO_PATH}
    fi
    setup_vbox
    setup_environment
    echo "\nDONE!"
}

ISO_PATH=$1
if [[ -z "${ISO_PATH}" ]]; then
    echo 'WARNING! missing iso path. Will use existing bootimage-auto.iso (if present)' >&2
fi
main
{{- end }}
