{{- define "vbox/vmctl" -}}
  {{- $lab := . -}}
#!/usr/bin/env bash

pause() {
    {{- range $lab.Vms }}
      {{- $vm := . }}
      {{- $vmName := printf "%s-%s" $lab.Name $vm.Name }}
    vboxmanage controlvm "{{ $vmName }}" pause &
    {{- end }}
    for pid in $(jobs -pr); do
         wait $pid
    done
}

resume() {
    {{- range $lab.Vms }}
      {{- $vm := . }}
      {{- $vmName := printf "%s-%s" $lab.Name $vm.Name }}
    vboxmanage controlvm "{{ $vmName }}" resume &
    {{- end }}
    for pid in $(jobs -pr); do
         wait $pid
    done
}

snapshot() {
    local name=$1
    pause "$1"
    {{- range $lab.Vms }}
      {{- $vm := . }}
      {{- $vmName := printf "%s-%s" $lab.Name $vm.Name }}
    vboxmanage snapshot "{{ $vmName }}" take "${name}"
    {{- end }}
    resume "$1"
}

restore() {
    local name="$1"
    pause
    {{- range $lab.Vms }}
      {{- $vm := . }}
      {{- $vmName := printf "%s-%s" $lab.Name $vm.Name }}
    vboxmanage controlvm "{{ $vmName }}" poweroff
    vboxmanage snapshot "{{ $vmName }}" restore "${name}"
    while true; do
        eval $(vboxmanage showvminfo --machinereadable "{{ $vmName }}" | grep VMState)
        [[ "${VMState}" == "saved" ]] && break
        sleep 5
    done
    {{- end }}
    {{- range $lab.Vms }}
      {{- $vm := . }}
      {{- $vmName := printf "%s-%s" $lab.Name $vm.Name }}
    nohup vboxheadless --start-paused --startvm "{{ $vmName }}" >/dev/null 2>&1 &
    {{- end }}
    sleep 10
    {{- range $lab.Vms }}
      {{- $vm := . }}
      {{- $vmName := printf "%s-%s" $lab.Name $vm.Name }}
    while true; do
        eval $(vboxmanage showvminfo --machinereadable "{{ $vmName }}" | grep VMState)
        [[ "${VMState}" != "restoring" ]] && break
        sleep 5
    done
    {{- end }}
}

start() {
    local name="$1"
    vboxmanage startvm "{{ $lab.Name }}-${name}" --type headless
}

usage() {
    cat <<EOF >&2
Usage: vmctl.sh [snapshot|restore] <snapshot-name>
       vmctl.sh start <node-name>
EOF
}

case "$1" in
start)
    start "$2"
    ;;
snapshot)
    snapshot "$2"
    ;;
restore)
    restore "$2"
    ;;
*)
    usage
    ;;
esac
{{- end }}