{{- define "vbox/machine/aiosx" }}
  {{- $lab := .Lab }}
  {{- $id := .Id }}
  {{- $name := printf "controller-%d" .Id }}
- name:   "controller-{{ $id }}"
  cpus:   {{ $lab.Cpus }}
  memory: {{ $lab.Memory }}
  bootorder:
    - dvd
    - disk
  disks:
  {{- range $i := $lab.DiskCount | add1 | int | until }}
    - medium: "{{ $name }}-{{ $i }}.vdi"
      size:   {{ $lab.DiskSize }}
  {{- end }}
  storagecontrollers:
    - name:        "IDE1"
      type:        "ide"
      chipset:     "PIIX4"
      hostiocache: true
      bootable:    true
    - name:        "SATA1"
      type:        "sata"
      chipset:     "IntelAHCI"
      portcount:   4
      hostiocache: true
      bootable:    true
  storageattachments:
    - controller:    "IDE1"
      port:          0
      device:        0
      type:          "dvddrive"
      medium:        "./bootimage-auto.iso"
  {{- range $i :=  $lab.DiskCount | add1 | int | until}}
    - controller:    "SATA1"
      port:          {{ $i }}
      device:        0
      type:          "hdd"
      medium:        "{{ $name }}-{{ $i }}.vdi"
      nonrotational: true
      discard:       true
  {{- end }}
  nics:
    - mode:     "natnetwork"
      network:  "{{ $lab.NatNet }}"
      type:     "82540em"
    - mode:     "intnet"
      network:  "{{ $lab.IntNetPrefix }}-data1"
      type:     "virtio"
      promisc:  "allow-all"
    - mode:     "intnet"
      network:  "{{ $lab.IntNetPrefix }}-data2"
      type:     "virtio"
      promisc:  "allow-all"
{{- end }}