{{- define "vbox/machine/controller" }}
  {{- $lab := .Lab }}
  {{- $id := .Id }}
  {{- $name := printf "controller-%d" .Id }}
- name:   "controller-{{ $id }}"
  cpus:   {{ $lab.ControllerCpus }}
  memory: {{ $lab.ControllerMemory }}
  bootorder:
  {{- if eq $id 0 }}
    - dvd
    - disk
  {{- else }}
    - disk
    - net
  {{- end }}
  disks:
  {{- range $i := $lab.ControllerDiskCount | add1 | int | until }}
    - medium: "{{ $name }}-{{ $i }}.vdi"
      size:   {{ $lab.ControllerDiskSize }}
  {{- end }}
  storagecontrollers:
  {{- if eq $id 0 }}
    - name:        "IDE1"
      type:        "ide"
      chipset:     "PIIX4"
      hostiocache: true
      bootable:    true
   {{- end }}
    - name:        "SATA1"
      type:        "sata"
      chipset:     "IntelAHCI"
      portcount:   4
      hostiocache: true
      bootable:    true
  storageattachments:
  {{- if eq $id 0 }}
    - controller:    "IDE1"
      port:          0
      device:        0
      type:          "dvddrive"
      medium:        "./bootimage-auto.iso"
   {{- end }}
  {{- range $i :=  $lab.ControllerDiskCount | add1 | int | until}}
    - controller:    "SATA1"
      port:          {{ $i }}
      device:        0
      type:          "hdd"
      medium:        "{{ $name }}-{{ $i }}.vdi"
      nonrotational: true
      discard:       true
  {{- end }}
  nics:
    - mode:     "natnetwork"
      network:  "{{ $lab.NatNet }}"
      type:     "82540em"
      promisc:  "allow-all"
      bootprio: 2
    - mode:     "intnet"
      network:  "{{ $lab.IntNetPrefix }}-management"
      type:     "82540em"
      promisc:  "allow-all"
      bootprio: 1
{{- end }}
