{{- define "libvirt/machine/controller" }}
  {{- $lab := .Lab }}
  {{- $id := .Id }}
  {{- $name := printf "%s-controller-%d" $lab.Name .Id -}}
- name:   "{{ $name }}"
  cpus:   {{ $lab.ControllerCpus }}
  memory: {{ $lab.ControllerMemory }}
  serial: "{{ printf "${HERE}/%s-serial" $name }}"
  disks:
  {{- if eq $id 0 }}
    - device: "cdrom"
      source: "${HERE}/bootimage-auto.iso"
      bus: "sata"
      dev: "{{ 'a' | int | add $lab.ControllerDiskCount | add 1 | printf "sd%c" }}"
      bootorder: 2
  {{- end }}
  {{- range $i := $lab.ControllerDiskCount | add1 | int | until }}
    - device: "disk"
      source: "{{ printf "${HERE}/%s-disk-%d.img" $name $i }}"
      size: {{ $lab.ControllerDiskSize }}
      bus: "sata"
      dev: "{{ 'a' | int | add $i | printf "sd%c" }}"
      {{- if eq $i 0 }}
      bootorder: 1
      {{- end }}
  {{- end }}
  nics:
    - name: "oam"
      bridge: "{{ printf "%s-oam" $lab.Name }}"
      model: "e1000"
      bus: 0
      slot: 3
    - name: "mgmt"
      bridge: "{{ printf "%s-mgmt" $lab.Name }}"
      model: "e1000"
      bus: 0
      slot: 8
      {{- if ne $id 0 }}
      bootorder: 2
      {{- end }}
{{- end }}