{{- define "install/readme" -}}
StarlingX VirtualBox Installer

Prerequisites:

  In order to patch the StarlingX ISO the following utilities
  need to be available before running the VirtualBox setup
  script:

    fuseiso rsync fusermount mkisofs

  On Ubuntu they can be installed by running:

    sudo apt install fuseiso rsync fuse genisoimage

Install steps:

1. create VirtualBox VMs:

     ./setup.sh /path/to/starlingx/iso

   This will remove already existing VMs named
   <setup-type>-controller-0, etc. and create a new set of
   VMs according to specification then group them under
   <setup-type> (where setup-type can be aiosx, aiodx,
   standard, storage).

   Then setup.sh calls prepare-bootimage.sh to patch
   the provided ISO image with the lab configuration and to
   make the automated install process independent of console
   access via serial port. The patched ISO goes through
   CentOS Anaconda steps then reboots to a state where it is
   accessible via SSH.

2. (optional) provide OpenStack charts:

     cp /path/to/stx-openstack/chart.tgz \
        ./stx-openstack.tgz

   Note that the name of the file must match exactly
   `stx-openstack.tgz`. Installer applies platform-integ
   apps then exits if it can't find this file.

3. run automated installer:

     ./install.sh

   Which will go through the steps of running ansible,
   adding, configuring and unlocking additional nodes,
   waiting for platform-integ-apps then applying
   stx-openstack (when available).

   If the install procedure crashes at some point and you
   need to resume it from a specific step there's a shell
   here-doc marker SKIP_SECTION that can be moved to include
   the section of the file you need to skip (meaning all
   steps that were already executed).

vmctl.sh is provided in case you need to snapshot or restore
the entire setup. It pauses all the VMs before taking a
snapshot and restores them to a paused state then quickly
resumes all of them to minimize clock skew between VMs.

setup.sh creates an env.sh that can be sourced to
enable shell aliases for serial console access (they map to
socat commands). For example:

  source ./env.sh
  aiosx-controller-0-serial

install.sh creates a local ssh.config file that can be used
to access installed nodes, for example:

  ssh -F ssh.config controller-0
{{- end}}