{{- define "install/ssh" }}
  {{- $lab := . }}
setup_ssh() {
    cat <<EOF >ssh.config
Host controller-0
  User sysadmin
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  GlobalKnownHostsFile /dev/null
  Hostname {{ $lab.LoopBackPrefix}}.3
  Port 2222

Host controller-0-*
  User sysadmin
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  GlobalKnownHostsFile /dev/null
  ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=no -o GlobalKnownHostsFile=no sysadmin@{{ $lab.LoopBackPrefix }}.3 -p 2222 nc $(echo %h | sed -s "s/controller-0-//") 22

{{- if ne $lab.SystemMode "simplex" }}
Host controller-1
  User sysadmin
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  GlobalKnownHostsFile /dev/null
  Hostname {{ $lab.LoopBackPrefix }}.4
  Port 2222

Host controller-1-*
  User sysadmin
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  GlobalKnownHostsFile /dev/null
  ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=no -o GlobalKnownHostsFile=no sysadmin@{{ $lab.LoopBackPrefix }}.4 -p 2222 nc $(echo %h | sed -s "s/controller-1-//") 22
{{- end }}
EOF
}
{{- end }}