{{- define "compute" }}
  {{- $lab := .Lab }}
  {{- $id := .Id }}
  {{- $name := printf "compute-%d" .Id }}
- name:   "{{ $name }}"
  cpus:   {{ $lab.ComputeCpus }}
  memory: {{ $lab.ComputeMemory }}
  bootorder:
    - net
    - disk
  disks:
    - medium: "{{ $name }}-0.vdi"
      size:   {{ $lab.ComputeDiskSize }}
    - medium: "{{ $name }}-1.vdi"
      size:   {{ $lab.ComputeDiskSize }}
  storagecontrollers:
    - name:        "SATA1"
      type:        "sata"
      chipset:     "IntelAHCI"
      portcount:   4
      hostiocache: true
      bootable:    true
  storageattachments:
    - controller:    "SATA1"
      port:          0
      device:        0
      type:          "hdd"
      medium:        "{{ $name }}-0.vdi"
      nonrotational: true
      discard:       true
  nics:
    - mode:     "intnet"
      network:  "{{ $lab.IntNetPrefix }}-unused"
      type:     "82540EM"
      promisc:  "allow-all"
      bootprio: 2
    - mode:     "intnet"
      network:  "{{ $lab.IntNetPrefix }}-management"
      type:     "82540EM"
      promisc:  "allow-all"
      bootprio: 1
    - mode:     "intnet"
      network:  "{{ $lab.IntNetPrefix }}-data1"
      type:     "virtio"
      promisc:  "allow-all"
      bootprio: 3
    - mode:     "intnet"
      network:  "{{ $lab.IntNetPrefix }}-data2"
      type:     "virtio"
      promisc:  "allow-all"
      bootprio: 4
{{- end }}
