{{- define "storage" }}
  {{- $lab := .Lab }}
  {{- $id := .Id }}
  {{- $name := printf "storage-%d" .Id }}
- name:   "{{ $name }}"
  cpus:   {{ $lab.StorageCpus }}
  memory: {{ $lab.StorageMemory }}
  bootorder:
    - net
    - disk
  disks:
  {{- range $i := $lab.StorageDiskCount | add1 | int | until }}
    - medium: "./{{ $name }}-{{ $i }}.vdi"
      size:   {{ $lab.StorageDiskSize }}
  {{- end }}
  storagecontrollers:
    - name:        "SATA1"
      type:        "sata"
      chipset:     "IntelAHCI"
      portcount:   {{ add1 $lab.StorageDiskCount }}
      hostiocache: true
      bootable:    true
  storageattachments:
  {{- range $i :=  $lab.StorageDiskCount | add1 | int | until}}
    - controller:    "SATA1"
      port:          {{ $i }}
      device:        0
      type:          "hdd"
      medium:        "./{{ $name }}-{{ $i }}.vdi"
      nonrotational: true
      discard:       true
  {{- end }}
  nics:
    - mode:     "intnet"
      network:  "{{ $lab.IntNetPrefix }}-unused"
      type:     "82540EM"
      promisc:  "allow-all"
      bootprio: 2
    - mode:     "intnet"
      network:  "{{ $lab.IntNetPrefix }}-management"
      type:     "82540EM"
      promisc:  "allow-all"
      bootprio: 1
{{- end }}
