{{- define "vbox/lab/aiodx" }}
{{- $lab := . }}
name: "{{ $lab.Name }}"
basepath: "."
installiso: "bootimage-auto.iso"
oam:
  network: "{{ $lab.Oam.Network }}"
  gateway: "{{ $lab.Oam.Gateway }}"
  floataddr: "{{ $lab.Oam.FloatAddr }}"
  controller0: "{{ $lab.Oam.Controller0 }}"
  controller1: "{{ $lab.Oam.Controller1 }}"
networks:
  - mode:    "natnetwork"
    name:    "{{ $lab.NatNet }}"
    address:    "{{ $lab.Oam.Network }}"
    loopbackmap:
      - "127.0.0.1=241"
      - "{{ $lab.LoopBackPrefix }}.2=242"
      - "{{ $lab.LoopBackPrefix }}.3=243"
      - "{{ $lab.LoopBackPrefix }}.4=244"
    portforward:
      - "tcp:[{{ $lab.LoopBackPrefix }}.2]:2222:[{{ $lab.Oam.FloatAddr }}]:22"
      - "tcp:[{{ $lab.LoopBackPrefix }}.3]:2222:[{{ $lab.Oam.Controller0 }}]:22"
      - "tcp:[{{ $lab.LoopBackPrefix }}.4]:2222:[{{ $lab.Oam.Controller1 }}]:22"
vms:
  {{- dict "Id" 0 "Lab" $lab | include "vbox/machine/aiodx" | nindent 2 }}
  {{- dict "Id" 1 "Lab" $lab | include "vbox/machine/aiodx" | nindent 2 }}
{{- end }}